<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div> 
        <h3>Employee Added</h3>
    </div>
    <div>
        <a href="/Home/Index">Home</a>
    </div>
</body>
</html>
