
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteEmployee</title>
</head>
<body>
    <div> 
        <form>
            <h3>Enter the Employee Name to Delete:</h3>
            <label for="DeleteEmp">Employee Name</label>
            <input type="text" id="DeleteEmp" name="EmpName" placeholder="-----"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <br />
    <a href="/Home/AfterDelete">Click Here after Submitting Form</a>
    <br />
    <a href="/Home/Index">Home</a>
</body>
</html>
