<body>
    <div>
        <h1>Employee Management System</h1>
        <form >
            <label for="EmpName">Name of Employee</label>
            <br />
            <input type="text" id="EmpName" name="Name" placeholder="------" />
            <br />
            <label for="EmpPhone">Phone Number</label>
            <br />
            <input type="text" id="EmpPhone" name="Phone" placeholder="------" />
            <br />
            <label for="EmpSal">Salary</label>
            <br />
            <input type="text" id="EmpSal" name="Salary" placeholder="-------" />
            <br /><br />
            <button type="submit">SUBMIT</button>
            <button type="reset">RESET</button>
        </form>
    </div>
    <br />
    <a href="/Home/AddEmployee">Please Click this button to Add Employee after Clicking on Submit</a>
    <br />
    <a href="/Home/ShowEmployee">Show All Employee</a>
    <br />
    <a href="/Home/DeleteEmployee">Delete Employee</a>

</body>